rules_version = '2';

service cloud.firestore {
    match /databases/{database}/documents {

		function ownsScript(resource) {
            return resource != null && 
                request.auth != null && 
                'owner' in resource.data &&
                request.auth.uid == resource.data.owner;
        }

        function ownsAttachedScript(resource) {
        	let script = get(resource.data.script);
            return resource != null && 
                ownsScript(script);
        }

        // Only allow users to read & update their own scripts
        // Creating & deleting is handled by Cloud Functions
        match /scripts/{script} {
            allow read: if ownsScript(resource) || resource == null;
            allow update: if ownsScript(resource) && ownsScript(request.resource);
        }

        // Only allow users to create script runs for their own scripts with either
        // the PENDING or PENDING_SCHEDULING status
        match /script-runs/{scriptRun} {
            allow read: if ownsAttachedScript(resource);
            allow create: if ownsAttachedScript(request.resource) &&
            	'script' in request.resource.data &&
                'status' in request.resource.data &&
                (request.resource.data.status == 'PENDING' || request.resource.data.status == 'PENDING_SCHEDULING');
        }

        // Only allow users to read/write triggers for scripts they own
        match /triggers/{trigger} {
            allow read, update, delete: if ownsAttachedScript(resource);
            allow create: if ownsAttachedScript(request.resource);
        }

        // Stripe
        match /stripe-customers/{uid} {
            allow read: if request.auth.uid == uid;

            match /checkout_sessions/{id} {
                // allow read, write: if request.auth.uid == uid;
                allow read: if request.auth.uid == uid;
            }
            match /subscriptions/{id} {
                allow read: if request.auth.uid == uid;
            }
            match /payments/{id} {
                allow read: if request.auth.uid == uid;
            }
        }

        match /stripe-products/{id} {
            allow read: if true;

            match /prices/{id} {
                allow read: if true;
            }

            match /tax_rates/{id} {
                allow read: if true;
            }
        }

        // Fallback to denying all other access
        match /{document=**} {
            allow read, write: if false;
        }
    }
}