rules_version = '2';

service cloud.firestore {
    match /databases/{database}/documents {

		function ownsScript(resource) {
            return resource != null && 
                request.auth != null && 
                'owner' in resource.data &&
                request.auth.uid == resource.data.owner;
        }

        function ownsAttachedScript(resource) {
        	let script = get(resource.data.script);
            return resource != null && 
                request.auth != null && 
                script != null &&
                'owner' in script.data &&
                request.auth.uid == script.data.owner;
        }

        // Only allow users to read/write scripts they own
        match /scripts/{script} {
            allow read: if resource == null;
            allow read, update, delete: if ownsScript(resource);
            allow create: if ownsScript(request.resource);
        }

        // Only allow users to create script runs for their own scripts with either
        // the PENDING or PENDING_SCHEDULING status
        match /script-runs/{scriptRun} {
            allow read: if ownsAttachedScript(resource);
            allow create: if ownsAttachedScript(request.resource) &&
            	'script' in request.resource.data &&
                'status' in request.resource.data &&
                (request.resource.data.status == 'PENDING' || request.resource.data.status == 'PENDING_SCHEDULING');
        }

        // Only allow users to read/write triggers for scripts they own
        match /triggers/{trigger} {
            allow read, update, delete: if ownsAttachedScript(resource);
            allow create: if ownsAttachedScript(request.resource);
        }

        // Fallback to denying all other access
        match /{document=**} {
            allow read, write: if false;
        }
    }
}