rules_version = '2';

service firebase.storage {
    match /b/{bucket}/o {

        function ownsScript(scriptId) {
            return request.auth.uid == firestore.get(/databases/(default)/documents/scripts/$(scriptId)).data.owner;
        }

        match /scripts/{scriptId} {

            match /source.js {
                allow read: if ownsScript(scriptId);
                allow create, update: if ownsScript(scriptId) && request.resource.size < 1 * 1024 * 1024;
            }

            match /{allPaths=**} {
                allow read: if ownsScript(scriptId);
            }
        }

        match /{allPaths=**} {
            allow read, write: if false;
        }
    }
}
